USE [master]
GO
/****** Object:  Database [CAFESTORE_TMP]    Script Date: 20/03/2021 3:25:18 AM ******/
CREATE DATABASE [CAFESTORE_TMP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAFESTORE_TMP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CAFESTORE_TMP.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CAFESTORE_TMP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CAFESTORE_TMP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAFESTORE_TMP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAFESTORE_TMP]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GETMACTHD_NEXT]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[FN_GETMACTHD_NEXT]()
RETURNS NVARCHAR(20)
AS
BEGIN
	DECLARE @MACTHD_NEXT NVARCHAR(20);
	DECLARE @MAX INT;
	SELECT @MAX = COUNT(DISTINCT MACTHD) + 1 FROM CTHD WHERE MACTHD like 'CTHD%'
	SET @MACTHD_NEXT = 'CTHD' + RIGHT('0' + CAST(@MAX AS NVARCHAR(16)),16)
	WHILE(EXISTS(SELECT MACTHD FROM CTHD WHERE MACTHD = @MACTHD_NEXT))
	BEGIN
		SET @MAX = @MAX + 1
		SET @MACTHD_NEXT = 'CTHD' + RIGHT('0' + CAST(@MAX AS NVARCHAR(16)),16)
	END
RETURN @MACTHD_NEXT;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GETMADU_NEXT]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GETMADU_NEXT]()
RETURNS NVARCHAR(10)
AS
BEGIN
	DECLARE @MASP_NEXT NVARCHAR(10);
	DECLARE @MAX INT;
	SELECT @MAX = COUNT(MASP) + 1 FROM SANPHAM --WHERE MASP like	'NV%'
	SET @MASP_NEXT = '0' + @MAX
	WHILE(EXISTS(SELECT MASP FROM SANPHAM WHERE MASP = @MASP_NEXT))
	BEGIN
		SET @MAX = @MAX + 1
		SET @MASP_NEXT = '0' + @MAX
	END
RETURN @MASP_NEXT;
END;




GO
/****** Object:  UserDefinedFunction [dbo].[FN_GETMAHD_NEXT]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GETMAHD_NEXT]()
RETURNS NVARCHAR(20)
AS
BEGIN
	DECLARE @MAHD_NEXT NVARCHAR(20);
	DECLARE @MAX INT;
	SELECT @MAX = COUNT(DISTINCT MAHD) + 1 FROM HOADON WHERE MAHD like 'HD%'
	SET @MAHD_NEXT = 'HD' + RIGHT('0' + CAST(@MAX AS NVARCHAR(18)),18)
	WHILE(EXISTS(SELECT MAHD FROM HOADON WHERE MAHD = @MAHD_NEXT))
	BEGIN
		SET @MAX = @MAX + 1
		SET @MAHD_NEXT = 'HD' + RIGHT('0' + CAST(@MAX AS NVARCHAR(18)),18)
	END
RETURN @MAHD_NEXT;
END;

--DECLARE @VALUE nvarchar(20)
--EXEC @VALUE =  [dbo].[FN_GETMAHD_NEXT]
--PRINT @VALUE
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GETMANV_NEXT]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GETMANV_NEXT]()
RETURNS NVARCHAR(10)
AS
BEGIN
	DECLARE @MANV_NEXT NVARCHAR(10);
	DECLARE @MAX INT;
	SELECT @MAX = COUNT(MANV) + 1 FROM NHANVIEN WHERE MANV like	'NV%'
	SET @MANV_NEXT = 'NV' + RIGHT('0' + CAST(@MAX AS NVARCHAR(8)),8)
	WHILE(EXISTS(SELECT MANV FROM NHANVIEN WHERE MANV = @MANV_NEXT))
	BEGIN
		SET @MAX = @MAX + 1
		SET @MANV_NEXT = 'NV' + RIGHT('0' + CAST(@MAX AS NVARCHAR(8)),8)
	END
RETURN @MANV_NEXT;
END;




GO
/****** Object:  Table [dbo].[BAN]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [int] IDENTITY(1,1) NOT NULL,
	[TRANGTHAIRONG] [bit] NOT NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [int] IDENTITY(1,1) NOT NULL,
	[TENCV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MACTHD] [nvarchar](20) NOT NULL,
	[MAHD] [nvarchar](20) NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
	[TONGTIEN] [int] NOT NULL,
	[NGAYMUA] [datetime] NOT NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MACTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DATBAN]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATBAN](
	[IDDATBAN] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANDAT] [datetime] NOT NULL,
	[THOIGIANDEN] [datetime] NOT NULL,
	[HOTENKH] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[SOLUONGBAN] [int] NOT NULL,
	[GHICHU] [nvarchar](100) NULL,
	[TRANGTHAIDEN] [bit] NOT NULL,
	[HOPLE] [bit] NOT NULL,
 CONSTRAINT [PK_DATBAN_1] PRIMARY KEY CLUSTERED 
(
	[IDDATBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DVT]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVT](
	[MADVT] [int] IDENTITY(1,1) NOT NULL,
	[TENDVT] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_DVT] PRIMARY KEY CLUSTERED 
(
	[MADVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nvarchar](20) NOT NULL,
	[MASP] [int] NOT NULL,
	[SLMUA] [int] NOT NULL,
	[THANHTIEN] [int] NOT NULL,
 CONSTRAINT [PK_HOADON_1] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALSP] [int] IDENTITY(1,1) NOT NULL,
	[TENLSP] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MALSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LSTHAYDOI]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSTHAYDOI](
	[MASP] [int] NOT NULL,
	[NGAYCAPNHAT] [datetime] NOT NULL,
	[MALSP] [int] NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[MADVT] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[GIAMGIA] [int] NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
	[CHUCNANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_LSTHAYDOI_1] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[NGAYCAPNHAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[TENNV] [nvarchar](100) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](6) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[TAIKHOAN] [nvarchar](20) NOT NULL,
	[MATKHAU] [varbinary](512) NOT NULL,
	[MACV] [int] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIENLAMVIEC]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIENLAMVIEC](
	[MAPHIEN] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
	[CHECKIN] [datetime] NOT NULL,
	[CHECKOUT] [datetime] NULL,
 CONSTRAINT [PK_PHIENLAMVIEC] PRIMARY KEY CLUSTERED 
(
	[MAPHIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[MALSP] [int] NOT NULL,
	[TENSP] [nvarchar](100) NOT NULL,
	[MADVT] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[GIAMGIA] [int] NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TACVU]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TACVU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SLBANMAX] [varchar](5) NOT NULL,
	[NGAYLAMVIEC] [date] NOT NULL,
 CONSTRAINT [PK_BANMAX] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BAN] ON 

INSERT [dbo].[BAN] ([MABAN], [TRANGTHAIRONG]) VALUES (1, 1)
INSERT [dbo].[BAN] ([MABAN], [TRANGTHAIRONG]) VALUES (2, 1)
INSERT [dbo].[BAN] ([MABAN], [TRANGTHAIRONG]) VALUES (3, 1)
SET IDENTITY_INSERT [dbo].[BAN] OFF
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (1, N'Quanly')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (2, N'Thungan')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (3, N'Phucvu')
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
INSERT [dbo].[CTHD] ([MACTHD], [MAHD], [MANV], [TONGTIEN], [NGAYMUA]) VALUES (N'CTHD01', N'HD01', N'NV01', 83000, CAST(N'2021-01-08 02:35:01.000' AS DateTime))
INSERT [dbo].[CTHD] ([MACTHD], [MAHD], [MANV], [TONGTIEN], [NGAYMUA]) VALUES (N'CTHD010', N'HD010', N'NV01', 83000, CAST(N'2021-01-08 04:52:06.000' AS DateTime))
INSERT [dbo].[CTHD] ([MACTHD], [MAHD], [MANV], [TONGTIEN], [NGAYMUA]) VALUES (N'CTHD011', N'HD011', N'NV01', 40750, CAST(N'2021-01-08 09:10:32.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DATBAN] ON 

INSERT [dbo].[DATBAN] ([IDDATBAN], [THOIGIANDAT], [THOIGIANDEN], [HOTENKH], [SDT], [SOLUONGBAN], [GHICHU], [TRANGTHAIDEN], [HOPLE]) VALUES (1, CAST(N'2021-01-04 02:52:44.000' AS DateTime), CAST(N'2021-01-05 07:30:00.000' AS DateTime), N'hung vo a', N'0374511111', 5, N'no ghi chu', 0, 0)
INSERT [dbo].[DATBAN] ([IDDATBAN], [THOIGIANDAT], [THOIGIANDEN], [HOTENKH], [SDT], [SOLUONGBAN], [GHICHU], [TRANGTHAIDEN], [HOPLE]) VALUES (5, CAST(N'2020-12-31 00:00:00.000' AS DateTime), CAST(N'2021-01-06 16:55:00.000' AS DateTime), N'dscx', N'0123456789', 3, N'', 1, 0)
INSERT [dbo].[DATBAN] ([IDDATBAN], [THOIGIANDAT], [THOIGIANDEN], [HOTENKH], [SDT], [SOLUONGBAN], [GHICHU], [TRANGTHAIDEN], [HOPLE]) VALUES (6, CAST(N'2021-01-05 03:30:45.000' AS DateTime), CAST(N'2021-01-02 07:00:00.000' AS DateTime), N'csdcz ve', N'0123456789', 1, N'xcvx', 0, 1)
SET IDENTITY_INSERT [dbo].[DATBAN] OFF
SET IDENTITY_INSERT [dbo].[DVT] ON 

INSERT [dbo].[DVT] ([MADVT], [TENDVT]) VALUES (1, N'Ly             ')
INSERT [dbo].[DVT] ([MADVT], [TENDVT]) VALUES (2, N'Lon            ')
INSERT [dbo].[DVT] ([MADVT], [TENDVT]) VALUES (3, N'Chai           ')
SET IDENTITY_INSERT [dbo].[DVT] OFF
INSERT [dbo].[HOADON] ([MAHD], [MASP], [SLMUA], [THANHTIEN]) VALUES (N'HD01', 5, 1, 18000)
INSERT [dbo].[HOADON] ([MAHD], [MASP], [SLMUA], [THANHTIEN]) VALUES (N'HD01', 7, 1, 25000)
INSERT [dbo].[HOADON] ([MAHD], [MASP], [SLMUA], [THANHTIEN]) VALUES (N'HD01', 8, 2, 40000)
SET IDENTITY_INSERT [dbo].[LOAISP] ON 

INSERT [dbo].[LOAISP] ([MALSP], [TENLSP]) VALUES (1, N'Cafe')
INSERT [dbo].[LOAISP] ([MALSP], [TENLSP]) VALUES (2, N'Sinh tố')
INSERT [dbo].[LOAISP] ([MALSP], [TENLSP]) VALUES (3, N'Nước ép')
SET IDENTITY_INSERT [dbo].[LOAISP] OFF
INSERT [dbo].[LSTHAYDOI] ([MASP], [NGAYCAPNHAT], [MALSP], [TENSP], [MADVT], [SOLUONG], [DONGIA], [GIAMGIA], [MANV], [CHUCNANG]) VALUES (2, CAST(N'2021-01-08 03:58:59.000' AS DateTime), 1, N'Cafe Đen Đá', 1, 1, 18000, 5, N'NV01', N'Chỉnh sửa')
INSERT [dbo].[LSTHAYDOI] ([MASP], [NGAYCAPNHAT], [MALSP], [TENSP], [MADVT], [SOLUONG], [DONGIA], [GIAMGIA], [MANV], [CHUCNANG]) VALUES (6, CAST(N'2021-01-08 04:00:11.000' AS DateTime), 2, N'Sinh Tố Bơ', 1, 1, 22000, 4, N'NV01', N'Chỉnh sửa')
INSERT [dbo].[LSTHAYDOI] ([MASP], [NGAYCAPNHAT], [MALSP], [TENSP], [MADVT], [SOLUONG], [DONGIA], [GIAMGIA], [MANV], [CHUCNANG]) VALUES (7, CAST(N'2021-01-08 03:59:25.000' AS DateTime), 1, N'Cam Ép', 1, 1, 25000, 9, N'NV01', N'Chỉnh sửa')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [TAIKHOAN], [MATKHAU], [MACV]) VALUES (N'NV01', N'KI NIEM', CAST(N'1996-08-27' AS Date), N'Nu', N'0947568745', N'128 Hong Bang', N'admin', 0x21232F297A57A5A743894A0E4A801FC3, 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [TAIKHOAN], [MATKHAU], [MACV]) VALUES (N'NV02', N'HUNG', CAST(N'1999-04-11' AS Date), N'Nam', N'0111111111', N'hgh', N'fffff', 0xA98F6F64E6CDFAC22AB2FFD15A7241E3, 2)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [TAIKHOAN], [MATKHAU], [MACV]) VALUES (N'NV03', N'KALISA', CAST(N'1995-01-11' AS Date), N'Nu', N'0123456789', N'long thanh', N'ffffff', 0xEED8CDC400DFD4EC85DFF70A170066B7, 2)
SET IDENTITY_INSERT [dbo].[PHIENLAMVIEC] ON 

INSERT [dbo].[PHIENLAMVIEC] ([MAPHIEN], [MANV], [CHECKIN], [CHECKOUT]) VALUES (27, N'NV02', CAST(N'2020-12-23 17:53:18.000' AS DateTime), CAST(N'2020-12-23 17:53:21.000' AS DateTime))
INSERT [dbo].[PHIENLAMVIEC] ([MAPHIEN], [MANV], [CHECKIN], [CHECKOUT]) VALUES (28, N'NV01', CAST(N'2020-12-23 17:53:50.000' AS DateTime), CAST(N'2020-12-23 17:53:57.000' AS DateTime))
INSERT [dbo].[PHIENLAMVIEC] ([MAPHIEN], [MANV], [CHECKIN], [CHECKOUT]) VALUES (29, N'NV03', CAST(N'2020-12-23 17:54:26.000' AS DateTime), CAST(N'2020-12-23 17:54:35.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PHIENLAMVIEC] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [MALSP], [TENSP], [MADVT], [SOLUONG], [DONGIA], [GIAMGIA]) VALUES (1, 1, N'Cafe Sữa', 1, -11, 15000, 0)
INSERT [dbo].[SANPHAM] ([MASP], [MALSP], [TENSP], [MADVT], [SOLUONG], [DONGIA], [GIAMGIA]) VALUES (2, 1, N'Cafe Đen Đá', 1, 1, 18000, 5)
INSERT [dbo].[SANPHAM] ([MASP], [MALSP], [TENSP], [MADVT], [SOLUONG], [DONGIA], [GIAMGIA]) VALUES (3, 1, N'Cappuchino', 1, 1, 25000, 0)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[TACVU] ON 

INSERT [dbo].[TACVU] ([ID], [SLBANMAX], [NGAYLAMVIEC]) VALUES (1, N'30', CAST(N'2021-03-20' AS Date))
SET IDENTITY_INSERT [dbo].[TACVU] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CTHD]    Script Date: 20/03/2021 3:25:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_CTHD] ON [dbo].[CTHD]
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_SANPHAM1] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_SANPHAM1]
GO
ALTER TABLE [dbo].[LSTHAYDOI]  WITH CHECK ADD  CONSTRAINT [FK_LSTHAYDOI_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LSTHAYDOI] CHECK CONSTRAINT [FK_LSTHAYDOI_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[PHIENLAMVIEC]  WITH CHECK ADD  CONSTRAINT [FK_PHIENLAMVIEC_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIENLAMVIEC] CHECK CONSTRAINT [FK_PHIENLAMVIEC_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DVT] FOREIGN KEY([MADVT])
REFERENCES [dbo].[DVT] ([MADVT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_DVT]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([MALSP])
REFERENCES [dbo].[LOAISP] ([MALSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_CTHD]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_INS_CTHD]
	@MAHD NVARCHAR(20),
	@MANV NVARCHAR(10),
	@TONGTIEN INT,
	@NGAYMUA VARCHAR(30)
AS
BEGIN
	DECLARE @MACTHD_NEXT NVARCHAR(20);
	DECLARE @MAX INT;
	SELECT @MAX = COUNT(DISTINCT MACTHD) + 1 FROM CTHD WHERE MACTHD LIKE 'CTHD%'
	SET @MACTHD_NEXT = 'CTHD' + RIGHT('0' + CAST(@MAX AS NVARCHAR(16)),16)
	WHILE(EXISTS(SELECT MACTHD FROM CTHD WHERE MACTHD = @MACTHD_NEXT))
	BEGIN
		SET @MAX = @MAX + 1
		SET @MACTHD_NEXT = 'CTHD' + RIGHT('0' + CAST(@MAX AS NVARCHAR(16)),16)
	END
	INSERT INTO CTHD VALUES (@MACTHD_NEXT,@MAHD,@MANV,@TONGTIEN,CONVERT(DATETIME, @NGAYMUA, 120))
END




GO
/****** Object:  StoredProcedure [dbo].[SP_INS_DATBAN]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INS_DATBAN] (
	@TGDAT VARCHAR(30),
	@TGDEN VARCHAR(30),
	@TENKH VARCHAR(50),
	@SDT VARCHAR(15),
	@SLBAN INT,
	@GHICHU VARCHAR(100)
) AS
BEGIN	
	INSERT INTO DATBAN(THOIGIANDAT,THOIGIANDEN,HOTENKH,SDT,SOLUONGBAN,GHICHU,TRANGTHAIDEN,HOPLE)
	VALUES (@TGDAT,@TGDEN,@TENKH,@SDT,@SLBAN,@GHICHU,0,1)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_RESET_DATBAN_AFTER_30MINUTES]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RESET_DATBAN_AFTER_30MINUTES]
AS
BEGIN
	WHILE(EXISTS(SELECT THOIGIANDEN FROM DATBAN WHERE THOIGIANDEN >=  DATEADD(MINUTE, -30, FORMAT(GETDATE(), 'yyyy-MM-dd HH:mm'))))
	BEGIN
		--INSERT INTO DATBAN(HOPLE) VALUES(1)
		UPDATE DATBAN SET HOPLE = 0
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RESET_SOBANTRONG_SAU24H]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RESET_SOBANTRONG_SAU24H]
(
	@TODAY DATETIME,
	@TOMORROW DATETIME
) AS
BEGIN
DECLARE @SLBAN AS INT
SET @SLBAN = (	SELECT SUM(SOLUONGBAN) AS SLBAN
					FROM DATBAN
						WHERE THOIGIANDEN 
							BETWEEN CAST(@TODAY AS DATETIME)
								AND CAST(@TOMORROW AS DATETIME)	) 
UPDATE BAN SET TRANGTHAIRONG = 1 WHERE MABAN IN
(	SELECT DISTINCT MABAN FROM BAN WHERE TRANGTHAIRONG = 0	)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_DATBAN]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEL_DATBAN] AS
BEGIN
	SELECT THOIGIANDAT, THOIGIANDEN, HOTENKH, SDT, SOLUONGBAN, GHICHU 
	FROM DATBAN 
END
--CONVERT(datetime,@NGAYDEN,103)
--CONVERT(time,NGAYDEN,105)
--CONVERT(varchar,NGAYDEN,105) AS NGAYDEN, CAST(NGAYDEN AS TIME) AS THOIGIANDEN



GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_DATBAN_24H]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEL_DATBAN_24H] 
(
	@TODAY DATETIME,
	@TOMORROW DATETIME
)AS
BEGIN
	SELECT DISTINCT THOIGIANDAT, THOIGIANDEN, HOTENKH, SDT, SOLUONGBAN, GHICHU
	FROM DATBAN
	WHERE THOIGIANDEN
		BETWEEN CAST(@TODAY AS DATETIME)
			AND CAST(@TOMORROW AS DATETIME)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_TIMKIEM_DATBAN]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEL_TIMKIEM_DATBAN] (
	@STR NVARCHAR(50)
)AS
BEGIN
	SELECT IDDATBAN, THOIGIANDAT, THOIGIANDEN, HOTENKH, SDT, SOLUONGBAN, GHICHU 
	FROM DATBAN WHERE SDT LIKE @STR OR HOTENKH LIKE @STR
END

--FORMAT(NGAYDEN,'dd-MM-yyyy HH:mm')AS NGAYDEN

GO
/****** Object:  StoredProcedure [dbo].[SP_THEMNV]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEMNV]
	@MACTHD NVARCHAR(20),
	@MAHD NVARCHAR(20),
	@MANV NVARCHAR(10),
	@TONGTIEN INT,
	@NGAYMUA VARCHAR(30)
AS
BEGIN
	DECLARE @MACTHD_NEXT NVARCHAR(20);
	DECLARE @MAX INT;
	SELECT @MAX = COUNT(DISTINCT MACTHD) + 1 FROM CTHD WHERE MACTHD like 'CTHD%'
	SET @MACTHD_NEXT = 'CTHD' + RIGHT('0' + CAST(@MAX AS NVARCHAR(16)),16)
	WHILE(EXISTS(SELECT MACTHD FROM CTHD WHERE MACTHD = @MACTHD_NEXT))
	BEGIN
		SET @MAX = @MAX + 1
		SET @MACTHD_NEXT = 'CTHD' + RIGHT('0' + CAST(@MAX AS NVARCHAR(16)),16)
	END
	INSERT INTO CTHD VALUES (@MACTHD,@MAHD,@MANV,@TONGTIEN,CONVERT(VARCHAR,@NGAYMUA,121))
END






GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DATBAN]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_DATBAN]
(    
    @TGDEN VARCHAR(30),
    @TENKH VARCHAR(50),
	@SDT VARCHAR(15),
	@SLBAN INT,
    @GHICHU VARCHAR(100),
	@ID INT
) AS
BEGIN
	UPDATE DATBAN
	SET THOIGIANDEN = @TGDEN, HOTENKH = @TENKH, SOLUONGBAN = @SLBAN, GHICHU = @GHICHU
	WHERE IDDATBAN = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DATBAN_24H]    Script Date: 20/03/2021 3:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_DATBAN_24H]
(
	@TODAY DATETIME,
	@TOMORROW DATETIME
) AS
BEGIN
DECLARE @SLBAN AS int
SET @SLBAN = (	SELECT SUM(SOLUONGBAN) AS SLBAN
					FROM DATBAN
						WHERE THOIGIANDEN 
							BETWEEN CAST(@TODAY AS DATETIME)
								AND CAST(@TOMORROW AS DATETIME)	) 
UPDATE BAN SET TRANGTHAIRONG = 1 WHERE MABAN IN
(	SELECT TOP (ISNULL(@SLBAN,0)) MABAN FROM BAN WHERE TRANGTHAIRONG = 0 ORDER BY NEWID()	)
END


--exec [SP_UPDATE_DATBAN_24H] '2021-01-06 00:00:00','2021-01-07 00:00:00'

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'N''Nam'' or N''Nữ''' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NHANVIEN', @level2type=N'COLUMN',@level2name=N'GIOITINH'
GO
USE [master]
GO
