USE [CAFESTORE]
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_DATBAN]    Script Date: 31/12/2020 01:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SEL_DATBAN] AS
BEGIN
	SELECT THOIGIAN, NGAYDAT, TENKH, SDT, FORMAT(NGAYDEN,'dd-MM-yyyy HH:mm')AS NGAYDEN, GHICHU 
	FROM DATBAN 
END
--CONVERT(datetime,@NGAYDEN,103)
--CONVERT(time,NGAYDEN,105)
--CONVERT(varchar,NGAYDEN,105) AS NGAYDEN, CAST(NGAYDEN AS TIME) AS THOIGIANDEN

