USE [CAFESTORE]
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_DATBAN_Tontai]    Script Date: 31/12/2020 01:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SEL_DATBAN_Tontai] 
( 
	@NGAYDEN VARCHAR(103)
) AS
BEGIN
	SELECT THOIGIAN, NGAYDAT, TENKH, SDT, FORMAT(NGAYDEN,'dd-MM-yyyy HH:mm')AS NGAYDEN, GHICHU 
		FROM DATBAN 
		WHERE NGAYDEN = CONVERT(datetime,@NGAYDEN,103) 
END