USE [CAFESTORE]
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_TIMKIEM_DATBAN]    Script Date: 31/12/2020 01:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SEL_TIMKIEM_DATBAN] (
	@SDT NVARCHAR(15),
	@TENKH NVARCHAR(50) 
)AS
BEGIN
	SELECT THOIGIAN, NGAYDAT, TENKH, SDT, FORMAT(NGAYDEN,'dd-MM-yyyy HH:mm')AS NGAYDEN, GHICHU 
	FROM DATBAN WHERE SDT LIKE @SDT OR TENKH LIKE @TENKH
END

