USE [CAFESTORE]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DATBAN]    Script Date: 31/12/2020 01:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_UPDATE_DATBAN]
(		
    @THOIGIAN NVARCHAR(10),
    @NGAYDAT NVARCHAR(15),
    @TENKH NVARCHAR(50),
	@SDT NVARCHAR(15),
    @NGAYDEN VARCHAR(25),
    @GHICHU NVARCHAR(100)
) AS
BEGIN
	UPDATE DATBAN
	SET THOIGIAN = @THOIGIAN, NGAYDAT = @NGAYDAT, NGAYDEN = CONVERT(datetime,@NGAYDEN,103), GHICHU = @GHICHU
	WHERE TENKH = @TENKH AND SDT = @SDT
END

